<%- include("_header") -%>

<main class="bg-primary">
	<section class="text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				
				<p class="lead">Suivez moi lors de mes escapade en haute mer
				</p>
				<p>
					<% if(req.session.admin==1){ %>
						<a href="/newactu" class="btn btn-secondary my-2">Nouvel article</a>
					<% } %>
				</p>
			</div>
		</div>
	</section>

	<div class="album bg-primary">
		<div class="container">
			
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<% for (const actu of model) { %>
					<div class="col">
						<div class="card shadow-sm">
							<div class="">
								<a href="/article/<%= actu.actuid %>">
									<img src="/image/<%= actu.imagename %>" class="card-img-top cover" height="225" focusable="false">
								</a>
							</div>
							<div class="card-body">
								<h6 class="card-text"><%= actu.title%></h6>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group text-center">
										<a type="button" class="btn btn-sm btn-outline-secondary" href="/article/<%= actu.actuid %>">Lire plus</a>
										<% if(req.session.admin==1){ %>
											<a type="button" class="btn btn-sm btn-outline-secondary" href="/edit/<%= actu.actuid %>">Editer</a>
											<a type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmdel" actu-id-delete="<%= actu.actuid %>">Supprimer</a>
										<% } %>
									</div>
									<small class="text-muted"><%= actu.date%></small>
								</div>
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</main>
<%- include("_footer") -%>

<div class="modal fade" id="confirmdel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>
					Êtes-vous sûr de vouloir supprimer cet article.
				</p>
			</div>
			<div class="modal-footer">
				<a type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</a>
				<a type="button" class="btn btn-outline-danger" href="#" id="button-suppr">Supprimer</a>
			</div>
		</div>
	</div>
</div>
<script>
	const confirmdel = document.getElementById('confirmdel')
	confirmdel.addEventListener('show.bs.modal', event => {
		const button = event.relatedTarget
		
		const recipient = button.getAttribute('actu-id-delete')
		
		const modalTarget = confirmdel.querySelector("#button-suppr")
		
		modalTarget.setAttribute("href", "/delete/"+recipient);
		return false;
	})
</script>