<%- include("_header") -%>
		
<main class="bg-primary">
	<div class="container bg-primary p-3"></div>
	<div class="container bg-light p-3 rounded">
		<p class="h1">
			<%=actu[0].title%>
		</p>
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<div class="p-2 d-flex flex-column text-center col-md-6 justify-content-around">
				<%
					const paragraphes = actu[0].content.split('\r');
					for (const paragraphe of paragraphes) { 
					%>
					<p>
						<%=paragraphe%>
					</p>
				<% } %>
			</div>
			<% if(actu[0].imagename!="default.jpg") { %>
				<div class="p-2 text-center">
					<img src="/image/<%= actu[0].imagename %>" class="rounded mx-auto center" width="100%" height="auto" alt="<%= actu.image %>">
				</div>
			<% } %>
			
		</div>
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<iframe width="720" height="480"
				src="https://www.youtube.com/embed/<%= actu[0].videolink %>">
			</iframe>
		</div>
		<div class="container bg-light p-3"></div>
		<p>
			<%=actu[0].date%>
		</p>
	</div>
	
	<div class="container bg-primary p-3"></div>
	
	<div class="container bg-light p-3 rounded">
		<form action="/newanswer/<%= actu[0].actuid %>" method="post">
			<div class="form-horizontal">
				<div class="form-group row">
					<label class="row-form-label row-sm-2" for="comment">Commentaires</label>
					<div class="row-sm-8">
						<input class="form-control" name="comment" value="" />
						<input type="submit" value="Poster un commentaire" class="btn btn-default btn-success" />
					</div>
				</div>
			</div>
		</form>
		<div class="container bg-light p-3"></div>
		<div class="d-flex flex-column">
			<% for (const com of actu[1]) { %>
			<div class="d-flex flex-column bg-white p-2 rounded">
				<div class="d-flex flex-column p-2">
					<div class="d-flex flex-row p-2 align-items-center">
						<div class="h4 p-1"><%= com.author %></div>
						<div class="p-1">écrit le <%= com.date %></div>
					</div>
					<div class="d-flex flex-row p-2">
						<div class="p-2"><%= com.content %></div>
					</div>
				</div>
				<div class="btn-group text-center ms-auto p-2 ">
					<% if(req.session.admin || req.session.key==com.authorid){ %>
						<!--<a type="button" class="btn btn-sm btn-outline-secondary" href="/edita/<%= com.answerid %>">Editer</a>-->
						
						<a type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmdel" actu-id-delete="<%= com.actuid %>/<%= com.answerid %>">Supprimer</a>
					<% } %>
					<!--<a type="button" class="btn btn-sm btn-success" href="/Upvote/<%= com.answerid %>"><%= com.votesnb %> Upvote</a>-->
					<!--<a type="button" class="btn btn-sm btn-secondary" href="/NewAnswer/<%= com.answerid %>">Répondre</a>-->
				</div>
			</div>
			<div class="container bg-light p-3"></div>
			<% } %>
		</div>
	</div>
</main>
<%- include("_footer") -%>

<div class="modal fade" id="confirmdel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>
					Êtes-vous sûr de vouloir supprimer ce commentaire.
				</p>
			</div>
			<div class="modal-footer">
				<a type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</a>
				<a type="button" class="btn btn-outline-danger" href="#" id="button-suppr">Supprimer</a>
			</div>
		</div>
	</div>
</div>
<script>
	const confirmdel = document.getElementById('confirmdel')
	confirmdel.addEventListener('show.bs.modal', event => {
		const button = event.relatedTarget
		
		const recipient = button.getAttribute('actu-id-delete')
		
		const modalTarget = confirmdel.querySelector("#button-suppr")
		
		modalTarget.setAttribute("href", "/deletea/"+recipient);
		return false;
	})
</script>